################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/Dev.Io.Backend/src/DevIO.Api/obj/*
/Dev.Io.Backend/src/DevIO.Business/obj/*
/Dev.Io.Backend/src/DevIO.Data/obj/*
/Dev.Io.Backend/.vs/*
Dev.Io.Backend/src/DevIO.Api/bin/*
Dev.Io.Backend/src/DevIO.Business/bin/*
/Dev.Io.Backend/src/DevIO.Data/bin/*
.vs/*
